<h2>Paste your stuff here</h2>

<div id='content' style="width: 65%; float: left; padding-left: 10px; padding-right: 10px;">
<%= render :partial=>"pastie/show" %>
</div>
<div id='pasties' style="float: left; width: 29%">
 <%=link_to "Create a pasty", new_pasty_url %>

 <div id="paste_boxes" style="width: 100%">
    <%= render :partial=>"pastie/box", :collection=>@pasties %>
 </div>
 <div id="social_buttons" style="padding-top: 10px;">
    <%= render :partial=>"facebook_like" %>
    <%= render :partial=>"tweet_button" %>
 </div>
</div>