<div class="front_pasties">
  <span style="color: red;"><%= box.title.nil? ? "None" : box.title %></span><br />
  <span style="color: red"><%=box.author.nil? ? "Anonymous" : box.author %> </span><br />
  <div style="text-align: center">ID: <%= link_to box.slug, show_by_slug_url(:slug=>box.slug) %></div> <br />
</div>