<script src="http://yandex.st/highlightjs/6.1/highlight.min.js"></script>
<link rel="stylesheet" href="http://yandex.st/highlightjs/6.1/styles/default.min.css">

 <script>
  hljs.tabReplace = '    ';
  hljs.initHighlightingOnLoad();
 </script>

<% if @pastie.nil? %>
    Nothing to see here
<% else %>
    Created on: <%=@pastie.created_at.strftime("%m/%d/%Y %H:%M") %> <br/>
    <div class="pastie_content">
      <pre>
        <code><%= @pastie.content %>
        </code>
      </pre>
    </div>
    <div id="pastie_raw" class="pastie_content">
      <%= form_for @pastie do |f| %>
        Raw Text
        <pre>
            <%= f.text_area :content, :size=>"72x20" %>
        </pre>
        <p>
          <div id="pastie_url">
            URL: <%= text_field_tag :url, show_by_slug_url( @pastie.slug ), :size=>40 %>
          </div>
        </p>
      <% end %>
    </div>
<% end %>