
<%= form_for Pastie.new do |f| %>
    Pastie: <br /><br />
    <%= f.text_area :content, :size=>"60x12" %>
    <br />
    Title: <%= f.text_field :title %><br />
    <br/><br/>
    <%= f.submit( "Paste" ) %>
    <br />
<% end %>

<%= link_to "I changed my mind. Take me back to the homepage.", root_url %>