// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.front_pasties {
    font-family: arial;
    border: 1px solid black;
    padding: 5px;
    margin-top: 4px;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.front_pasties {
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pastie_content {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.pastie_raw {

}



